{{define "content"}}
    {{if .CurrentUser}}
    <h1>Hello, {{.CurrentUser}}!</h1>
    {{end}}

    <div class="ui divided items">
        {{range .Posts}}
        <div class="item">
            <p class="ui tiny image"><img src="{{.User.Avatar}}&s=80" alt="avatar"></p>
            <div class="content">
                <a href="/user/{{.User.Username}}" data-user="{{.User.Username}}" class="header profile_popup">{{.User.Username}}</a>
                <div class="meta">
                    <span class="cinema">{{.FormattedTimeAgo}}</span>
                </div>
                <div class="description">
                    <p>{{.Body}}</p>
                </div>
            </div>
        </div>
        {{end}}
    </div>


    <div class="ui buttons">
        {{if gt .PrevPage 0}}
        <a class="ui labeled icon button" href="/explore?page={{.PrevPage}}">
            <i class="left chevron icon"></i> Newer Posts
        </a>
        {{end}}
        {{if gt .NextPage 0}}
        <a class="ui right labeled icon button" href="/explore?page={{.NextPage}}">
            Older Posts <i class="right chevron icon"></i>
        </a>
        {{end}}
    </div>
{{end}}
