{{define "content"}}
<div class="ui form">
    <h1 class="ui header">Login</h1>
    <form action="/login" method="post" name="login">
        <p class="field"><label>Username</label><input type="text" name="username" value="" placeholder="Username"></p>
        <p class="field"><label>Password</label><input type="password" name="password" placeholder="Password"></p>
        <p><input class="ui button primary basic" type="submit" name="submit" value="Login"></p>
    </form>

    <p>New User? <a href="/register">Click to Register!</a></p>
    <p>Forget Password? <a href="/reset_password_request">Click to Reset Password!</a></p>
</div>
{{if .Errs}}
<div class="ui message error">
    <ul class="list">
        {{range .Errs}}
        <li>{{.}}</li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}
