{{define "content"}}
<div class="ui form">
    <h1 class="ui header">Register</h1>
    <form action="/register" method="post" name="register">
        <p class="field"><label>Username</label><input type="text" name="username" value="" placeholder="Username"></p>
        <p class="field"><label>Email</label><input type="text" name="email" value="" placeholder="Email"></p>
        <p class="field"><label>Password</label><input type="password" name="pwd1" value="" placeholder="Password"></p>
        <p class="field"><label>Password</label><input type="password" name="pwd2" value="" placeholder="Recheck Password"></p>
        <p><input class="ui button primary basic" type="submit" name="submit" value="Register"></p>
    </form>

    <p>Have account? <a href="/login">Click to Login!</a></p>
</div>
{{if .Errs}}
<div class="ui message error">
    <ul>
        {{range .Errs}}
            <li>{{.}}</li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}
