{{define "content"}}
<div class="ui form">
    <h1>Input your email address:</h1>
    <form action="/reset_password_request" method="post" name="reset_password_request">
        <p class="field"><label>Email</label><input class="form-control" type="text" name="email" value="" placeholder="Email"></p>
        <p><input class="ui button primary basic" type="submit" name="submit" value="Submit"></p>
    </form>
</div>

{{if .Errs}}
<div class="ui message error">
    <ul>
        {{range .Errs}}
            <li>{{.}}</li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}
