{{define "content"}}
    <h1>重置密码</h1>
    <form action="/reset_password/{{.Token}}" method="post" name="reset_password">
        <p><input type="password" name="pwd1" value="" placeholder="输入密码"></p>
        <p><input type="password" name="pwd2" value="" placeholder="再次输入密码"></p>
        <p><input type="submit" name="submit" value="确认"></p>
    </form>


    {{if .Errs}}
        <ul>
            {{range .Errs}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
{{end}}