{{define "content"}}
<div class="ui form">
    <h1>Reset Password</h1>
    <form action="/reset_password/{{.Token}}" method="post" name="reset_password">
        <p class="field"><label>Password</label><input type="password" name="pwd1" value="" placeholder="Password"></p>
        <p class="field"><label>Recheck</label><input type="password" name="pwd2" value="" placeholder="Recheck Password"></p>
        <p><input class="ui button primary basic" type="submit" name="submit" value="Submit"></p>
    </form>
</div>

{{if .Errs}}
<div class="ui message error">
    <ul>
        {{range .Errs}}
            <li>{{.}}</li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}
