<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{if .Title}}
    <title>{{.Title}} - blog</title>
    {{else}}
    <title>go-mega</title>
    {{end}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        .container {
            max-width: 960px;
        }
    </style>
</head>
<body>
    <div class="ui pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="/explore">Explore</a>

        <div class="right menu">
            {{if .CurrentUser}}
            <a class="item" href="/user/{{.CurrentUser}}">Profile</a>
            <a class="item" href="/logout">Logout</a>
            {{else}}
            <a class="item" href="/login">Login</a>
            {{end}}
        </div>
    </div>
    <div class="ui container">
        {{template "content" .}}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(function () {
        $('.profile_popup').popup({
            popup: $('#popup'),
            position: 'bottom left'
        });
    })
</script>
</html>
